# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/
*.pyi

python/wpm/core/node/codegen/gen/**
python/wpm/core/node/gen/**
python/wpm/core/node/codegen/ref/**

python/external/*
python/wptree/uiold/widget.py
python/wptree/uiold/view.py
python/wptree/uiold/vendor/qt.py
python/wptree/uiold/vendor/__init__.py
python/wptree/uiold/uberwidget/tuple.py
python/wptree/uiold/uberwidget/treedelegate.py
python/wptree/uiold/uberwidget/tie.py
python/wptree/uiold/uberwidget/text.py
python/wptree/uiold/uberwidget/sequence.py
python/wptree/uiold/uberwidget/placeholder.py
python/wptree/uiold/uberwidget/main.py
python/wptree/uiold/uberwidget/list.py
python/wptree/uiold/uberwidget/lib.py
python/wptree/uiold/uberwidget/entry.py
python/wptree/uiold/uberwidget/dict.py
python/wptree/uiold/uberwidget/controller.py
python/wptree/uiold/uberwidget/canvas.py
python/wptree/uiold/uberwidget/base.py
python/wptree/uiold/uberwidget/__init__.py
python/wptree/uiold/treemenu.py
python/wptree/uiold/toolfieldwidget.py
python/wptree/uiold/test_ui.py
python/wptree/uiold/smartwidget/widget.py
python/wptree/uiold/smartwidget/smartfn.py
python/wptree/uiold/smartwidget/param.py
python/wptree/uiold/smartwidget/__init__.py
python/wptree/uiold/signalblocker.py
python/wptree/uiold/search.py
python/wptree/uiold/res/style/dark/vseptoolbar.svg
python/wptree/uiold/res/style/dark/vmovetoolbar.svg
python/wptree/uiold/res/style/dark/vline.svg
python/wptree/uiold/res/style/dark/up_arrow_hover.svg
python/wptree/uiold/res/style/dark/up_arrow_disabled.svg
python/wptree/uiold/res/style/dark/up_arrow.svg
python/wptree/uiold/res/style/dark/undock_hover_pressed.svg
python/wptree/uiold/res/style/dark/undock_hover.svg
python/wptree/uiold/res/style/dark/undock.svg
python/wptree/uiold/res/style/dark/transparent.svg
python/wptree/uiold/res/style/dark/stylesheet.qss
python/wptree/uiold/res/style/dark/sizegrip.svg
python/wptree/uiold/res/style/dark/right_arrow_disabled.svg
python/wptree/uiold/res/style/dark/right_arrow.svg
python/wptree/uiold/res/style/dark/radio_unchecked_disabled.svg
python/wptree/uiold/res/style/dark/radio_unchecked.svg
python/wptree/uiold/res/style/dark/radio_checked_disabled.svg
python/wptree/uiold/res/style/dark/radio_checked.svg
python/wptree/uiold/res/style/dark/message_warning.svg
python/wptree/uiold/res/style/dark/message_question.svg
python/wptree/uiold/res/style/dark/message_information.svg
python/wptree/uiold/res/style/dark/message_critical.svg
python/wptree/uiold/res/style/dark/left_arrow_disabled.svg
python/wptree/uiold/res/style/dark/left_arrow.svg
python/wptree/uiold/res/style/dark/hseptoolbar.svg
python/wptree/uiold/res/style/dark/hmovetoolbar.svg
python/wptree/uiold/res/style/dark/down_arrow_hover.svg
python/wptree/uiold/res/style/dark/down_arrow_disabled.svg
python/wptree/uiold/res/style/dark/down_arrow.svg
python/wptree/uiold/res/style/dark/dialog_save.svg
python/wptree/uiold/res/style/dark/dialog_reset.svg
python/wptree/uiold/res/style/dark/dialog_open.svg
python/wptree/uiold/res/style/dark/dialog_ok.svg
python/wptree/uiold/res/style/dark/dialog_no.svg
python/wptree/uiold/res/style/dark/dialog_help.svg
python/wptree/uiold/res/style/dark/dialog_discard.svg
python/wptree/uiold/res/style/dark/dialog_close.svg
python/wptree/uiold/res/style/dark/dialog_cancel.svg
python/wptree/uiold/res/style/dark/close_pressed.svg
python/wptree/uiold/res/style/dark/close_hover.svg
python/wptree/uiold/res/style/dark/close.svg
python/wptree/uiold/res/style/dark/checkbox_unchecked_disabled.svg
python/wptree/uiold/res/style/dark/checkbox_unchecked.svg
python/wptree/uiold/res/style/dark/checkbox_indeterminate_disabled.svg
python/wptree/uiold/res/style/dark/checkbox_indeterminate.svg
python/wptree/uiold/res/style/dark/checkbox_checked_disabled.svg
python/wptree/uiold/res/style/dark/checkbox_checked.svg
python/wptree/uiold/res/style/dark/calendar_previous.svg
python/wptree/uiold/res/style/dark/calendar_next.svg
python/wptree/uiold/res/style/dark/branch_open_hover.svg
python/wptree/uiold/res/style/dark/branch_open.svg
python/wptree/uiold/res/style/dark/branch_more_arrow.svg
python/wptree/uiold/res/style/dark/branch_more.svg
python/wptree/uiold/res/style/dark/branch_end_arrow.svg
python/wptree/uiold/res/style/dark/branch_end.svg
python/wptree/uiold/res/style/dark/branch_closed_hover.svg
python/wptree/uiold/res/style/dark/branch_closed.svg
python/wptree/uiold/res/style/dark/ads_menu_button_pressed.svg
python/wptree/uiold/res/style/dark/ads_menu_button_hover.svg
python/wptree/uiold/res/style/dark/ads_menu_button.svg
python/wptree/uiold/res/style/dark/ads_maximize_pressed.svg
python/wptree/uiold/res/style/dark/ads_maximize_hover.svg
python/wptree/uiold/res/style/dark/ads_maximize.svg
python/wptree/uiold/res/style/dark/ads_detach_hover_pressed.svg
python/wptree/uiold/res/style/dark/ads_detach_hover.svg
python/wptree/uiold/res/style/dark/ads_detach.svg
python/wptree/uiold/res/style/dark/ads_close_pressed.svg
python/wptree/uiold/res/style/dark/ads_close_hover.svg
python/wptree/uiold/res/style/dark/ads_close.svg
python/wptree/uiold/res/square_down_old.png
python/wptree/uiold/res/square_down.png
python/wptree/uiold/res/square_centre_old.png
python/wptree/uiold/res/square_centre.png
python/wptree/uiold/res/attributions.txt
python/wptree/uiold/out.txt
python/wptree/uiold/model.py
python/wptree/uiold/libwidget/tabfactory.py
python/wptree/uiold/libwidget/mousetrackingcomponent.py
python/wptree/uiold/libwidget/mouseanalysis.py
python/wptree/uiold/libwidget/markingmenu.py
python/wptree/uiold/libwidget/filedialogue.py
python/wptree/uiold/libwidget/filebutton.py
python/wptree/uiold/libwidget/draggraphicsview.py
python/wptree/uiold/libwidget/draggraphicsscene.py
python/wptree/uiold/libwidget/dictwidget.py
python/wptree/uiold/libwidget/dialogue.py
python/wptree/uiold/libwidget/collapsiblewidget.py
python/wptree/uiold/libwidget/atomicproxywiget.py
python/wptree/uiold/libwidget/__init__.py
python/wptree/uiold/lib.py
python/wptree/uiold/item.py
python/wptree/uiold/icons.py
python/wptree/uiold/graphics/treewire.py
python/wptree/uiold/graphics/text.py
python/wptree/uiold/graphics/sequence.py
python/wptree/uiold/graphics/segment.py
python/wptree/uiold/graphics/lib.py
python/wptree/uiold/graphics/icon.py
python/wptree/uiold/graphics/groupfield.py
python/wptree/uiold/graphics/globaldrawable.py
python/wptree/uiold/graphics/frame.py
python/wptree/uiold/graphics/event.py
python/wptree/uiold/graphics/connectionpoint.py
python/wptree/uiold/graphics/__init__.py
python/wptree/uiold/delegate.py
python/wptree/uiold/constant.py
python/wptree/uiold/atomicwidget/test.py
python/wptree/uiold/atomicwidget/stringwidget.py
python/wptree/uiold/atomicwidget/scalarwidget.py
python/wptree/uiold/atomicwidget/optionwidget.py
python/wptree/uiold/atomicwidget/constant.py
python/wptree/uiold/atomicwidget/boolwidget.py
python/wptree/uiold/atomicwidget/base.py
python/wptree/uiold/atomicwidget/__init__.py
python/wptree/uiold/__init__.py
python/gsheetpy/unzip.py
python/gsheetpy/token.json
python/gsheetpy/sheets.googleapis.com-python.json
python/gsheetpy/sheetLinks.json
python/gsheetpy/quickstart.py
python/gsheetpy/pulled/toh/Sorcery.json
python/gsheetpy/pulled/toh/Sorcery.csv
python/gsheetpy/pulled/toh/Planeswalker.json
python/gsheetpy/pulled/toh/Planeswalker.csv
python/gsheetpy/pulled/toh/Notes.json
python/gsheetpy/pulled/toh/Notes.csv
python/gsheetpy/pulled/toh/Land.json
python/gsheetpy/pulled/toh/Land.csv
python/gsheetpy/pulled/toh/Instant.json
python/gsheetpy/pulled/toh/Instant.csv
python/gsheetpy/pulled/toh/Enchantment.json
python/gsheetpy/pulled/toh/Enchantment.csv
python/gsheetpy/pulled/toh/Creature.json
python/gsheetpy/pulled/toh/Creature.csv
python/gsheetpy/pulled/toh/Battle.json
python/gsheetpy/pulled/toh/Battle.csv
python/gsheetpy/pulled/toh/Artifact.json
python/gsheetpy/pulled/toh/Artifact.csv
python/gsheetpy/pull.py
python/gsheetpy/notes.md
python/gsheetpy/credentials.json
python/gsheetpy/client_secret_973132948585-q2mf0lm3a3g3t042a7upsk7mfs04409b.apps.googleusercontent.com.json
python/gsheetpy/__init__.py
external/*
python/wpm/core/node/author/__init__.py
/python/wpscratch
python/wpscratch/testCall.py
/python/idem/localsessions
/houdini/wp_package/otls/backup
maya/devkits/Autodesk_Maya_2023_3_Update_DEVKIT_Windows.zip
/maya/devkits
/maya/plugin/strata/strata.dir
/maya/plugin/strata/x64
/maya/plugin/strata/CMakeFiles
/maya/plugin/strata/.vs
